@import './styles/variables.css';
@import './styles/globals.css';

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 2rem;
}

@media (max-width: 768px) {
  .page-header {
    flex-direction: column;
  }
}
